<div class="title-heading">
    Edit title
</div>

<form [formGroup]="userForm" class="add-title-form">

    <div class="field-div">
        <span class="field-title">
            Title ID:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="title_id" placeholder="Title ID" value={{title.title_id}} readonly>
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title">
            Title Name:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="title_name" placeholder="Title Name" value={{title.title_name}}>
        </mat-form-field>
    </div>
  
    <div class="field-div">
        <span class="field-title">
            Base Salary:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="base_salary" placeholder="Base Salary" value={{title.base_salary}}>
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title">
            Department:
        </span>
        <mat-form-field class="form-field">
        <mat-select formControlName="dept_no" placeholder="Department">
            <mat-option *ngFor="let dept of depts" value={{dept.dept_no}}>{{dept.dept_name}}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <div class="btn-container">
        <button mat-raised-button class="title-submit-btn" color="primary" (click)="onSubmit(userForm)" >Make changes</button>
    </div>
  </form>