<div class="title-heading">
    Add a title
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" class="add-title-form">

    <div class="field-div">
        <span class="field-title">
            Title Name:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="title_name" placeholder="Title Name">
        </mat-form-field>
    </div>

    
    <div class="field-div">
        <span class="field-title">
            Base Salary:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="base_salary" placeholder="Base Salary">
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title">
            Department:
        </span>
        <mat-form-field class="form-field">
        <mat-select formControlName="dept_no" placeholder="Department">
            <mat-option *ngFor="let dept of depts" value={{dept.dept_no}}>{{dept.dept_name}}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <button mat-raised-button class="title-submit-btn" color="accent" type="submit" color="primary" >Submit</button>
  </form>