.add-emp-form{
    margin: 1rem 10rem;
    display: flex;
    flex-direction: column;
}

.emp-submit-btn {
  padding: 1.5rem;
}

.field-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around   ;
}

.field-title {
    width: 20%;
}

.form-field {
    width: 40%;
}