<div class="employee-heading">
    Add an employee
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" class="add-emp-form">

    <div class="field-div">
        <span class="field-title">
            First Name:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="first_name" placeholder="First Name">
        </mat-form-field>
    </div>
  
    <div class="field-div">
        <span class="field-title">
            Last Name:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="last_name" placeholder="Last Name">
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title">
            Gender:
        </span>
        <mat-form-field class="form-field">
        <mat-select formControlName="gender" placeholder="Gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    
    <div class="field-div">
        <span class="field-title">
            Title:
        </span>
        <mat-form-field class="form-field">
        <mat-select formControlName="title" placeholder="Title" (selectionChange)="getBaseSalary()">
            <mat-option *ngFor="let title of titles" value={{title.title_id}}>{{title.title_name}}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title" id="base_salary_display">
            Modify Base Salary:
        </span>
        <div class="sal-modi-div">
            <mat-form-field class="sal-operation">
                <mat-select formControlName="sal_operation" placeholder="+/-">
                    <mat-option value='+'>+</mat-option>
                    <mat-option value='-'>-</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="base-salary">
                <input matInput formControlName="salary_modifier" placeholder="+/- Base salary">
            </mat-form-field>
        </div>
    </div>

    <div class="field-div">
        <span class="field-title">
            Birth Date:
        </span>
    
        <mat-form-field class="form-field">
            <input matInput [matDatepicker]="picker" formControlName="birth_date" placeholder="Birth Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title">
            Hired Date:
        </span>
        
        <mat-form-field class="form-field">
            <input matInput [matDatepicker]="hiredPicker" formControlName="hired_date" placeholder="Hired Date">
            <mat-datepicker-toggle matSuffix [for]="hiredPicker"></mat-datepicker-toggle>
            <mat-datepicker #hiredPicker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title">
            Profile picture:
        </span>
        <mat-form-field class="form-field">
            <input matInput formControlName="file_input" id="file-input" hidden type="text" >
            
            <input type="file" id="file-input" accept=".png, .jpg, .jpeg" (change)="getBaseUrl()"/>
        </mat-form-field>
    </div>
    
    <button mat-raised-button class="emp-submit-btn" color="accent" type="submit" color="primary" >Submit</button>
  </form>