<div class="header-container">
    <div>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list-item">
            <div>
              <a routerLink='/home' routerLinkActive="active">Home</a>
            </div>
          </li>
          <li class="header-list-item">
            <div>
              <a routerLink='/employees' routerLinkActive="active">Employees</a>
            </div>
          </li>
          <li class="header-list-item">
            <div>
              <a routerLink='/departments' routerLinkActive="active">Departments</a>
            </div>
          </li>
          <li class="header-list-item">
            <div>
              <a routerLink='/salaries' routerLinkActive="active">Salaries</a>
            </div>
          </li>
          <li class="header-list-item">
            <div>
              <a routerLink='/titles' routerLinkActive="active">Titles</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>