<div class="header-container">
    <div>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list-item">
            <div>
              <a routerLink='/home' routerLinkActive="active">Home</a>
            </div>
          </li>
          <li class="header-list-item">
            <div>
              <a routerLink='/employees' routerLinkActive="active">Employees</a>
            </div>
          </li>
          <li class="header-list-item">
            <div>
              <a routerLink='/departments' routerLinkActive="active">Departments</a>
            </div>
          </li>
          <li class="header-list-item">
            <div>
              <a routerLink='/titles' routerLinkActive="active">Titles</a>
            </div>
          </li>
          <li class="header-list-item">
            <div>
                <mat-icon (click)="viewProfile()" class="header-profile-img">account_circle</mat-icon>
            </div>
          </li>
        </ul>
      </nav>
    </div>
</div>

<div class="profile-container" *ngIf="profileShown">
  <div class="profile-content">
    <div class="profile-header">
      <h2>Profile</h2>
    </div>

    <div class="profile-body">
      <div class="profile-image">
        <mat-icon class="profile-img">account_circle</mat-icon>
      </div>
      <div class="profile-details">
        <p>{{profile.userName}}</p>
        <p>{{profile.email}}</p>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>