/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family:'Courier New', Courier, monospace; }

.mat-mdc-dialog-panel {
    height: 80%;
    width: 80%;
}

.small-dialog { /* For confirm delete box */
    width: 50%; 
    height: 30%;
}

