<div class="employee-heading">
    Edit employee
</div>

<form [formGroup]="userForm" class="add-emp-form">

    <div class="field-div">
        <span class="field-title">
            Employee ID:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="emp_no" placeholder="Employee ID" value={{employee.emp_no}} readonly>
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title">
            First Name:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="first_name" placeholder="First Name" value={{employee.first_name}}>
        </mat-form-field>
    </div>
  
    <div class="field-div">
        <span class="field-title">
            Last Name:
        </span>
        <mat-form-field class="form-field">
        <input matInput formControlName="last_name" placeholder="Last Name" value={{employee.last_name}}>
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title">
            Gender:
        </span>
        <mat-form-field class="form-field">
        <mat-select formControlName="gender" placeholder="Gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    
    <div class="field-div">
        <span class="field-title">
            Birth Date:
        </span>
    
        <mat-form-field class="form-field">
            <input matInput [matDatepicker]="picker" formControlName="birth_date" placeholder="Birth Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="field-div">
        <span class="field-title">
            Hired Date:
        </span>
        
        <mat-form-field class="form-field">
            <input matInput [matDatepicker]="hiredPicker" formControlName="hired_date" placeholder="Hired Date" value={{employee.hired_date}}>
            <mat-datepicker-toggle matSuffix [for]="hiredPicker"></mat-datepicker-toggle>
            <mat-datepicker #hiredPicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="btn-container">
        <button mat-raised-button class="emp-delete-btn" color="accent" (click)="empDelete(employee.emp_no)">Delete</button>
        <button mat-raised-button class="emp-submit-btn" color="primary" (click)="onSubmit(userForm)" >Make changes</button>
    </div>
  </form>