.add-emp-form{
    margin: 1rem 10rem;
    display: flex;
    flex-direction: column;
}

.emp-submit-btn {
  padding: 1.5rem;
}

.emp-delete-btn {
    color: white;
    background-color:red;
    padding: 1.5rem;
}

.field-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around   ;
}

.field-title {
    width: 20%;
}

.form-field {
    width: 40%;
}

.employee-heading {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(165, 174, 181);
    border-radius: 1rem;
    margin: 5rem 5rem 1rem 5rem;
    padding: 1rem;;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}