<section class="confirm-box">
    <h2>
        Confirm Employee Deletion
    </h2>

    <div class="cnf-box-content">
        <p>
            Are you sure you want to delete the employee from the database? 
            This will erase all data relating to the employee and is <strong>irreversible</strong>
        </p>
        <span>
            Are you sure you want to do this?
        </span>

        <div>
            <button mat-raised-button (click)="confirmDel()" mat-dialog-close class="confirm-del-btn">Confirm</button>
            <button mat-raised-button mat-dialog-close color="accent">Go back</button>
        </div>
    </div>
</section>