.confirm-box {
    text-align: center;
}

.cnf-box-content {
    height: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.confirm-entry {
    width: 40%;
}

.confirm-del-btn {
    margin: 0rem 1rem;
    color: white;
    background-color: red;
}