<section class="confirm-box">
    <h2>
        Confirm Employee Deletion
    </h2>

    <div class="cnf-box-content">
        <p>
            Are you sure you want to delete the employee from the database? 
            This will erase all data relating to the employee and is <strong>irreversible</strong>
        </p>
        <span>
            Type <strong>"{{id}}"</strong> in the box below to confirm deletion
        </span>

        <input type="text" class="confirm-entry" id="confirm-del-entry">
        <!-- change to mat button and input box and get confirmation getelebyid or form -->
        <button>
            Confirm
        </button>
    </div>
</section>