<div class="employee-heading">
    <div>
        Employees
    </div>
    <div class="add-emp-btn">
        <button mat-raised-button color="primary" (click)="goToPage('/employees/add')">Add Employee</button>
    </div>
</div>

<div class="emp-container"> 
    <table class="emp-table" matSort (matSortChange)="sortData($event)" matSortActive="emp_id" matSortDirection="asc">
            <tr>
                <th mat-sort-header="emp_id">Employee ID</th>
                <th mat-sort-header="name">Full Name</th>
                <th>Position</th>
                <th mat-sort-header="gender">Gender</th>
                <th mat-sort-header="age">Age</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
            
            @for (emp of sortedData; track emp) {
            <tr>
                <td>{{ emp.emp_no }}</td>
                <td>{{ emp.first_name + ' ' + emp.last_name }} </td>
                <td>{{ emp.title_name }}</td>
                <td>{{ emp.gender }}</td>
                <td>{{ getAge(emp.birth_date) }}</td>
                <td>
                    <button mat-icon-button color="primary" (click)="openDetail(emp.emp_no)">
                        <mat-icon>info</mat-icon>
                    </button>
                </td>
                <td>
                    <button mat-icon-button color="primary" (click)="deleteEmp(emp.emp_no)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
            }

    </table>
</div>
