<div class="employee-heading">
    <div>
        Employees
    </div>
    <div class="add-emp-btn">
        <button mat-raised-button color="primary" (click)="goToPage('/employees/add')">Add Employee</button>
    </div>
</div>

<div class="filterings">
    <mat-accordion class="mat-accordion">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Apply Filters
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <form [formGroup]="userForm">
                <div class="field-div">
                    <span class="field-title">
                        Position:
                    </span>
                    <mat-form-field class="form-field">
                        <mat-select formControlName="position" placeholder="Position" (selectionChange)="applyFilter()">
                            <mat-option *ngFor="let title of titles" value={{title.title_name}}>{{title.title_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="field-div">
                    <span class="field-title">
                        Gender:
                    </span>
                    <mat-form-field class="form-field">
                        <mat-select formControlName="gender" placeholder="Gender" (selectionChange)="applyFilter()">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="field-div">
                    <span class="field-title">
                        Age:
                    </span>
                    <div class="form-field">
                        <mat-form-field class="input-box">
                            <input matInput formControlName="min_age" type="number" min="0"  max="150" placeholder="Min Age" (keyup)="applyFilter()">
                        </mat-form-field>

                        <mat-form-field class="input-box">
                            <input matInput formControlName="max_age" type="number" min="0"  max="150" placeholder="Max Age" (keyup)="applyFilter()">
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="field-div">
                    <span class="field-title">
                        Salary:
                    </span>
                    
                    <div class="form-field">
                        <mat-form-field class="input-box">
                            <input matInput formControlName="min_salary" type="number" min="0" placeholder="Min Salary" (keyup)="applyFilter()">
                        </mat-form-field>

                        <mat-form-field class="input-box">
                            <input matInput formControlName="max_salary" type="number" min="0" placeholder="Max Salary" (keyup)="applyFilter()">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="search-div">
        <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Search">
    </div>
</div>

<div class="emp-container"> 
    <mat-table #table [dataSource]="dataSource" class="emp-table" matSort >
            
        <ng-container matColumnDef="emp_no" class="mat-column">
            <mat-header-cell *matHeaderCellDef mat-sort-header="emp_no"> Emp. Number </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.emp_no}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="full_name" class="mat-column">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Full  name </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.first_name + ' ' + emp.last_name}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="gender" class="mat-column">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.gender}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="age" class="mat-column">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{getAge(emp.birth_date)}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="position" class="mat-column">
            <mat-header-cell *matHeaderCellDef> Position</mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.title_name}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="salary" class="mat-column">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Salary </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.salary}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="details" class="mat-column">
            <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
            <mat-cell *matCellDef="let emp">
                <button mat-icon-button color="primary" (click)="openDetail(emp.emp_no)">
                    <mat-icon>info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="delete" class="mat-column">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let emp">
                <button mat-icon-button color="primary" (click)="deleteEmp(emp.emp_no)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
