<div class="employee-heading">
    <div>
        Employees
    </div>
    <div class="add-emp-btn">
        <button mat-raised-button color="primary" (click)="goToPage('/employees/add')">Add Employee</button>
    </div>
</div>

<div class="emp-container"> 
    <table class="emp-table">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Full Name</th>
                <th>Position</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.emp_no}}</td>
                <td>{{ emp.first_name + ' ' + emp.last_name}} </td>
                <td>Title</td>
                <td>{{ emp.gender }}</td>
                <td>{{getAge(emp.birth_date)}}</td>
                <td>
                    <button mat-icon-button color="primary" (click)="openDetail(emp.emp_no)">
                        <mat-icon>info</mat-icon>
                    </button>
                </td>
                <td>
                    <button mat-icon-button color="primary" (click)="deleteEmp(emp.emp_no)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
