.employee-heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(165, 174, 181);
    border-radius: 1rem;
    margin: 2rem 5rem 1rem 5rem;
    padding: 1rem;;
    text-align: center;
}

.emp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.emp-table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 3rem;
}
 
.add-emp-btn {
    position: absolute;
    right: 1rem;
}

.filterings {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.mat-expansion-panel {
    background-color: rgb(250, 247, 247);
}

.mat-accordion {
    width: 100%;
    padding: 0;
}

.search-div {
    width: 20%;
    align-self:flex-end;
    justify-items: flex-end;
    margin: 1rem;
}

.search-div input {
    width: 100%;
    padding: .5rem;
}

.field-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around   ;
}

.field-title {
    width: 20%;
}

.form-field {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.input-box {
    width: 45%;
}

.profile-img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.mat-column-details{
    flex: none;   
    width: 10%;
}

.mat-column-delete{
    flex: none;   
    width: 10%;
}


.mat-column-age{
    flex: none;   
    width: 10%;
}

.mat-column-emp_no{
    flex: none;   
    width: 10%;
}

.mat-column-profile_image{
    flex: none;   
    width: 10%;
}

.mat-column-gender{
    flex: none;   
    width: 10%;
}