<section class="dialog-container">
  <h2 mat-dialog-title>Detailed view</h2>

  <div mat-dialog-content class="detail-view">
    
      <table class="emp-detail-table">
        <tr>
          <th>Employee Number</th>
          <td>{{employee.emp_no}}</td>
        </tr>
        <tr>
          <th>First Name</th>
          <td>{{employee.first_name}}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{employee.last_name}}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{employee.gender}}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{getAge()}}</td>
        </tr>
        <tr>
          <th>Position</th>
          <td>{{employee.title_name}}</td>
        </tr>
        <tr>
          <th>Salary</th>
          <td>{{employee.salary}}</td>
        </tr>
        <tr>
          <th>Birth Date</th>
          <td>{{employee.birth_date}}</td>
        </tr>
        <tr>
          <th>Hired Date</th>
          <td>{{employee.hired_date}}</td>
        </tr>
      </table>
      
  <div mat-dialog-actions>
    <button button mat-raised-button color="primary" (click)="editEmp()">
      Edit
    </button>
    <button button mat-raised-button color="primary" (click)="closePopup()" class="close-btn">
      X
    </button>
  </div>
  </div>

</section>