<section class="dialog-container">
    <h2 mat-dialog-title>{{dept_name}}</h2>
  
    <div mat-dialog-content class="detail-view">
      
        <table class="department-detail-table">
          <tr>
            <th>Title ID</th>
            <th>Title Name</th>
          </tr>
          <tr *ngFor="let title of dept_titles">
            <td>{{title.title_id}}</td>
            <td>{{title.title_name}}</td>
          </tr>
        </table>
        
        <div mat-dialog-actions>
            <button button mat-raised-button color="primary" (click)="closePopup()" class="close-btn">
                X
            </button>
        </div>
    </div>
</section>